@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Rubik+Mono+One&display=swap');



body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #111111;
  /* background-image: url(../assets/images/paintbrush.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; */
  transition: background-color 1.5s ease-in-out;
}

.paintbrush_img img {
  z-index: 10;
  position: absolute;
  width: 20vw;
  height: auto;
  object-fit: cover;
}


.welcome_msg {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2rem;
  text-transform: uppercase;
  height: 80vh;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Cutive Mono', monospace;
  text-align: right;
  width: 100%;
  line-height: 1;
  color: #7692ff;
  transition: ease-in-out color .5s;
}

.container {
  /*
  set max-width and max-height to canvas 
  width/height respectively
  */
  max-width: 640px;
  max-height: 480px;
  width: 100%;
  height: 100%;
}

canvas {
  opacity: 1;
  color: #000000;
  transition: opacity 1s ease-in-out;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.intro_msg {
  color: #7692ff;
  position: absolute;
  text-align: right;
  top: 85%;
  bottom: 0;
  width: 100%;
  z-index: 10;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5rem;
  transition: ease-in-out color .5s;
  text-transform: uppercase;
}

.intro_msg span {
  color: #c6f91f;
}

/* .intro_msg a {
  transition: ease-in-out color .5s;
  text-decoration: none;
  color: #7692ff;
  cursor: pointer;
} */

/* .intro_msg a:hover {
  color: #E67162;
  cursor: pointer;
} */


/* .title h3:hover {
  color: #5F54FB;
  cursor: pointer;
} */